<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192"  href="./assets/app_icons/png/192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/app_icons/png/32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/app_icons/png/96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/app_icons/png/16.png">
    <link rel="icon" type="image/ico" href="./assets/favicon.ico">
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
      
  </head>
  <body>
    <% if (!htmlWebpackPlugin.options.ctx.mode.electron) { %>
      <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <% } %>
    
    <!-- DO NOT touch the following <div> -->
      <div id="q-app"></div>

      <!-- DO NOT touch the following -->
      <%= htmlWebpackPlugin.options.bodyScripts %>
      <!-- built files will be auto injected here --></body>
  </body>
</html>
