<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Qasino in the Cloud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="pawn">
    <!-- the specific part of this html -->
    <form class="form-narrow form-horizontal" method="post"
          th:action="@{${qasinoResponse.pageVisitor.selectedVisitor.balance == 0 ? '/pawn' : '/repay'}}"
          th:object="${qasinoResponse}"
          th:fragment="QasinoResponse">
        <!--/* Show general error message when form contains errors */-->
        <th:block th:if="${#fields.hasErrors('${qasinoResponse.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">
                Alert
            </div>
        </th:block>
        <fieldset>
            <div class="form-group">
                <label for="balance" class="col-lg-2 control-label">Balance</label>
                <div class="col-lg-10">
                    <input disabled type="text" class="form-control" id="balance" placeholder="Balance"
                           th:field="${qasinoResponse.pageVisitor.selectedVisitor.balance}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default"
                            th:text="${qasinoResponse.pageVisitor.selectedVisitor.balance} == 0 ? 'Pawn':'Repay'">
                        Pawn or Repay
                    </button>
                </div>
            </div>
            <input type="hidden" id="visitorId2"
                   th:field="${qasinoResponse.pageVisitor.selectedVisitor.visitorId}"/>
        </fieldset>
    </form>
</div>
<div th:fragment="game">
    <form class="form-narrow form-horizontal" method="post"
          th:object="${setupGameForm}"
          th:fragment="setupGameForm"
          th:action="@{/game/start}">
        <!--/* Show general error message when form contains errors */-->
        <th:block th:if="${#fields.hasErrors('${setupGameForm.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">
                Alert
            </div>
        </th:block>
        <fieldset>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('visitorIdFk')}? 'has-error'">
                <div class="col-lg-10">
                    <input disabled type="hidden" class="form-control" id="visitorIdFk" placeholder="VisitorIdFk"
                           th:field="*{visitorIdFk}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('visitorIdFk')}"
                          th:errors="*{visitorIdFk}">Incorrect visitorIdFk</span>
                </div>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('type')}? 'has-error'">
                <label for="type" class="col-lg-2 control-label">Type</label>
                <div class="col-lg-10">
                    <input disabled type="text" class="form-control" id="type" placeholder="Type"
                           th:field="*{type}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('type')}"
                          th:errors="*{type}">Incorrect type</span>
                </div>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('aiLevel')}? 'has-error'">
                <label for="aiLevel" class="col-lg-2 control-label">AiLevel</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="aiLevel" placeholder="AiLevel"
                           th:field="*{aiLevel}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('aiLevel')}"
                          th:errors="*{aiLevel}">Incorrect aiLevel</span>
                </div>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('style')}? 'has-error'">
                <label for="style" class="col-lg-2 control-label">Style</label>
                <div class="col-lg-10">
                    <input disabled type="text" class="form-control" id="style" placeholder="Style"
                           th:field="*{style}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('style')}"
                          th:errors="*{style}">Incorrect style</span>
                </div>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('ante')}? 'has-error'">
                <label for="ante" class="col-lg-2 control-label">Ante</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="ante" placeholder="Ante"
                           th:field="*{ante}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('ante')}"
                          th:errors="*{ante}">Incorrect ante</span>
                </div>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('avatar')}? 'has-error'">
                <label for="avatar" class="col-lg-2 control-label">Avatar</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="avatar" placeholder="Avatar"
                           th:field="*{avatar}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('avatar')}"
                          th:errors="*{avatar}">Incorrect avatar</span>
                </div>
            </div>
            <input type="hidden" id="visitorId3"
                   th:field="${qasinoResponse.pageVisitor.selectedVisitor.visitorId}"/>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Setup</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div th:fragment="update">
    <form class="form-narrow form-horizontal" method="post" th:action="@{/visitor}"
          th:object="${qasinoResponse}"
          th:fragment="QasinoResponse">
        <!--/* Show general error message when form contains errors */-->
        <th:block th:if="${#fields.hasErrors('${qasinoResponse.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">
                Alert
            </div>
        </th:block>
        <fieldset>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('${qasinoResponse.pageVisitor.selectedVisitor.username}')}? 'has-error'">
                <label for="username" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input disabled type="text" class="form-control" id="username" placeholder="Username"
                           th:field="${qasinoResponse.pageVisitor.selectedVisitor.username}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('${qasinoResponse.pageVisitor.selectedVisitor.username}')}"
                          th:errors="${qasinoResponse.pageVisitor.selectedVisitor.username}">Incorrect username</span>
                </div>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('${qasinoResponse.pageVisitor.selectedVisitor.alias}')}? 'has-error'">
                <label for="alias" class="col-lg-2 control-label">Alias</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="alias" placeholder="Alias"
                           th:field="${qasinoResponse.pageVisitor.selectedVisitor.alias}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('${qasinoResponse.pageVisitor.selectedVisitor.alias}')}"
                          th:errors="${qasinoResponse.pageVisitor.selectedVisitor.alias}">Incorrect alias</span>
                </div>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('${qasinoResponse.pageVisitor.selectedVisitor.email}')}? 'has-error'">
                <label for="email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="email" placeholder="Email"
                           th:field="${qasinoResponse.pageVisitor.selectedVisitor.email}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('${qasinoResponse.pageVisitor.selectedVisitor.email}')}"
                          th:errors="${qasinoResponse.pageVisitor.selectedVisitor.email}">Incorrect email</span>
                </div>
            </div>
            <input type="hidden" id="visitorId"
                   th:field="${qasinoResponse.pageVisitor.selectedVisitor.visitorId}"/>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>