<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Qasino in the cloud</title>
    <th:block th:include="~{fragments/header :: headerfiles}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<!-- the specific part of this html -->
<div class="container">
    <div class="text-center">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">
                &nbsp;
            </div>
        </th:block>
        <p>
            Welcome to the Qasino in the cloud!
        </p>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>