<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Qasino in the cloud</title>
    <th:block th:insert="~{fragments/header :: headerfiles}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<!-- the specific part of this html -->
<div class="container">
    <div class="text-center">
        <h1 th:text="${'League - '+qasinoResponse.navBarItems.^[sequence==5].stat}">League</h1>
        <div th:if="${qasinoResponse.params.lid == -1}">
            No League created
        </div>
        <div th:unless="${qasinoResponse.params.lid == -1}">
            Under constuction ...
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>