<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Qasino in the cloud</title>
    <th:block th:insert="~{fragments/header :: headerfiles}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<!-- the specific part of this html -->
<div class="container">
    <div class="text-center">
        <h1>Play</h1>
        <div th:if="${qasinoResponse.params.gid == -1}">
            No Game to play
        </div>
        <div th:if="${qasinoResponse.params.gid > 0 && qasinoResponse.pageGamePlay.selectedGame == null}">
            Finish setting up the current game
        </div>
        <div th:if="${qasinoResponse.params.gid > 0 && qasinoResponse.pageGamePlay.selectedGame != null}">
            Under constuction ...
            <div th:replace="~{forms/setup :: update-or-stop}"></div>
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>