<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Qasino in the cloud</title>
    <th:block th:insert="~{fragments/header :: headerfiles}">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<!-- the specific part of this html -->
<div class="container">
    <div class="text-center">
        <h1>Visitor</h1>
        <div th:if="${qasinoResponse == null || qasinoResponse.pageVisitor == null}">
            No Data
        </div>
        <!-- #lists is SPEL -->
        <div th:unless="${qasinoResponse.pageVisitor == null || qasinoResponse.pageVisitor == null}">

            <form action="#" method="put" th:action="@{/visitor}" th:object="${qasinoResponse}">
                <input class="form-control" type="text" th:field="*{pageVisitor}">
                <input type="text" th:field="${qasinoResponse.pageVisitor.selectedVisitor.securedLoan}">
                <input type="text" th:field="${qasinoResponse.pageVisitor.selectedVisitor.email}">
                <input type="text" th:field="${qasinoResponse.pageVisitor.selectedVisitor.alias}">
                <input type="text" th:field="${qasinoResponse.pageVisitor.selectedVisitor.aliasSequence}">
                <input type="text" th:field="${qasinoResponse.pageVisitor.selectedVisitor.username}">
                <input type="hidden" th:value="${qasinoResponse.pageVisitor.selectedVisitor.visitorId}"/>
                <input type="submit">
            </form>

            <!--    <form action="#" th:action="@{/saveVisitor}" th:object="${qasinoResponse}"-->
            <!--          th:method="${visitor['new']} ? post : put">-->
            <!--        <ul>-->
            <!--            <li th:errors="*{balance}"/>-->
            <!--            <li th:errors="*{email}"/>-->
            <!--            <li th:errors="*{alias}"/>-->
            <!--        </ul>-->
            <!--        <table border="1">-->
            <!--            <tr>-->
            <!--                <td><label th:text="alias"/></td>-->
            <!--                <td><input type="text" th:field="*{alias}"/></td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td><label th:text="email"/></td>-->
            <!--                <td><input type="text" th:field="*{email}"/></td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td><label th:text="Balance"/></td>-->
            <!--                <td><select id="balance" name="balance">-->
            <!--                    <option th:each="i : ${#numbers.balance(0, 100)}" th:value="${i}" th:text="${i}"-->
            <!--                            th:selected="${i==75}"></option>-->
            <!--                </select></td>-->
            <!--            </tr>-->
            <!--        </table>-->
            <!--    </form>-->
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>