<div class="alien-props row" style="margin-top: 1%">
    <div class="four columns alien-prop">
        <img class="human-img" alt="you" src="img/aliensmall.jpg">
        <br>
        <h5>You: {{ vm.players[0].visitor.alias }}</h5>
        <p>{{ vm.players[0].visitor.cubits - vm.players[0].visitor.securedLoan }} of {{ vm.players[0].visitor.securedLoan | minLength:4:"0"
            }} cubits won
            .</p>
    </div>
    <div class="four columns alien-prop">
        <div ng-if="vm.showalien1" class="animate-if">
            <div ng-if="vm.players[1].visitor.aiLevel.toUpperCase() == 'DUMB'">
                <img alt="alien1" src="img/ailow.jpg">
                <br>
                <h5>{{ vm.players[1].visitor.alias }}</h5>
                
                <p>{{ vm.players[1].visitor.cubits - vm.players[1].visitor.securedLoan }} of {{ vm.players[1].visitor.securedLoan | minLength:4:"0" }} cubits won
                .</p>                
            </div>
            <div ng-if="vm.players[1].visitor.aiLevel.toUpperCase() == 'MEDIUM'">
                <img alt="alien1" src="img/aimedium.jpg">
                <br>
                <h5>{{ vm.players[1].visitor.alias }}</h5>
                <p>{{ vm.players[1].visitor.cubits - vm.players[1].visitor.securedLoan }} of {{ vm.players[1].visitor.securedLoan | minLength:4:"0" }} cubits won
                .</p>               
            </div>
            <div ng-if="vm.players[1].visitor.aiLevel.toUpperCase() == 'SMART'">
                <img alt="alien1" src="img/aihigh.jpg">
                <br>
                <h5>{{ vm.players[1].visitor.alias }}</h5>
                <p>{{ vm.players[1].visitor.cubits - vm.players[1].visitor.securedLoan }} of {{ vm.players[1].visitor.securedLoan | minLength:4:"0" }} cubits won
                .</p>               
            </div>
        </div>
    </div>
    <div class="four columns alien-prop">
        <div ng-if="vm.showalien2" class="animate-if">
            <div ng-if="vm.players[2].visitor.aiLevel.toUpperCase() == 'DUMB'">
                <img alt="alien2" src="img/ailow.jpg">
                <br>
                <h5>{{ vm.players[2].visitor.alias }}</h5>
                <p>{{ vm.players[2].visitor.cubits - vm.players[2].visitor.securedLoan }} of {{ vm.players[2].visitor.securedLoan | minLength:4:"0" }} cubits won
                .</p>               
            </div>
            <div ng-if="vm.players[2].visitor.aiLevel.toUpperCase() == 'MEDIUM'">
                <img alt="alien2" src="img/aimedium.jpg">
                <br>
                <h5>{{ vm.players[2].visitor.alias }}</h5>
                <p>{{ vm.players[2].visitor.cubits - vm.players[2].visitor.securedLoan }} of {{ vm.players[2].visitor.securedLoan | minLength:4:"0" }} cubits won
                .</p>                
            </div>
            <div ng-if="vm.players[2].visitor.aiLevel.toUpperCase() == 'SMART'">
                <img alt="alien2" src="img/aihigh.jpg">
                <br>
                <h5>{{ vm.players[2].visitor.alias }}</h5>
                <p>{{ vm.players[2].visitor.cubits - vm.players[2].visitor.securedLoan  }} of {{ vm.players[2].visitor.securedLoan | minLength:4:"0" }} cubits won
                .</p>               
            </div>
        </div>
    </div>
</div>
