<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Qasino.cloud - a High-low playingCard game</title>
    <link rel="icon" type="image" href="favicon.ico">

    <!-- Include Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>

<body>
<div class="container-fluid">

    <div id="contents-main">
        <div class="lead">
            <strong>Qasino</strong>
            <span th:text="${eventName}"></span>
        </div>
        <div id="contents">
            <!-- Since we create a Vue component pointing to id=contents,
                 Vue will generate a unordered list of items such
                 as this inside this div.
                 v-for will cause a loop to run over all visitors
                 as per the visitors array found in app.data
            <ul>
                <li></li>
                <li></li>
            </ul>
            -->

        </div>
        <div id="footer">
            <hr>
            &copy;2020 Saalk@Qasino.cloud - trying to beat
            <a href="https://medium.com/@uwehook/sturgeons-law-285c007406db">sturgeon's law</a>
        </div>
    </div>
</div>
</body>
</html>
